@import "./base.scss";

html,
body {
  @include margin-padding-0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $bluish-grey;
  color: $black;
  font-family: "Noto Sans JP", sans-serif;
}

.background {
  @include two-color-background;
}

.card {
  border-radius: 10px;
}

button:disabled {
  cursor: not-allowed;
}
